.App {
	background-color: rgb(31, 31, 31);
	overflow-x: hidden;
}

.card-container {
	width: 170px;

	height: 300px;
	margin: 5px;
	position: relative;
}

.image-container {
	width: 170px;
	height: 200px;
}

.watch-button {
	position: absolute;
	bottom: 0;
	width: 97%;
	margin: 3px;
	border: none;
}

.img-fluid {
	margin-bottom: 3em;
}

.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
